@model MVC_13062022.Models.Product

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>@Model.Name</h4>
<div>Only @Model.Price</div>