@model List<Product> 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Our Products</h1>

<h3>There are our wonderful products which is exactly what you need!</h3>


@ViewData["ProductInfo"]

<div>Products list...</div>

@foreach(Product item in Model){
    @item.Name <br/> 
    <a asp-action = "Edit" asp-route-id="@item.Id">Edit</a> <br/>
    <a asp-action ="Delete" asp-route-id ="@item.Id">Delete</a> <br/>
}
