@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome And Order your pizza </h1>
    <h2>It's pizza time</h2>
    <img class="mainImage" src="~/images/Hundo Pizza.webp"/>
    <br/>
    <a class="nav-link text-dark" asp-area="" asp-page="Checkout/ThankYou">Order your pizza here </a>
</div>
