@page
@model FinalPizzaProject.Pages.PizzaModel
@{
}

<a class="nav-link text-dark" asp-area="" asp-page="Forms/CustomerPizza">Customer Pizza </a>
<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout </a>